*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --bg-color: #fbd142;
}
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, ul, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
.body {
  background: var(--bg-color);
}
.wrapper {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
  min-height: 100px;
  overflow: hidden;
}
.header {
  padding-top: 10px;
}
.caption {
  margin: 0 auto;
  max-width: 315px;
  font-size: 72px;
  line-height: 62px;
}
.caption__rs {
  background-color: var(--bg-color);
  background-image: linear-gradient(135deg, rgba(255,255,255,1) 55%, rgba(0,0,0,1) 55%, rgba(0,0,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 65px;
}
.caption__oo {
  letter-spacing: -8px;
}
.caption__sch {
  background-color: var(--bg-color);
  background-image: linear-gradient(135deg, rgba(255,255,255,1) 52%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}